.container {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.banner {
    font-family: "Segoe UI", sans-serif;
    position: absolute;
    color: #ffffff;
    top: 100px;
    align-self: center;

    font-weight: bold;
    font-size: 30px;
    z-index: 10;
}

.backgroundImage {
    height: auto;
    width: auto;
    z-index: 1;
    border-radius: 10px;
}

.searchElement {
    display: flex;
    position: absolute;
    opacity: 0.9;
    top: 330px;
    flex-direction: column;
    align-self: center;
    align-content: center;
    background-color: #eaeaea;
    border-radius: 10px;
    left: 5%;
    right: 5%;
    border: none;
    padding: 15px;
    margin: 10px;
    z-index: 10;
}

.noSearchContainer {
    display: flex;
    flex-direction: column;

    top: 100px;
}
.noSearch {
    top: 100px;
    align-content: center;
    align-self: center;
    font-weight: bolder;
    margin: 20px;
    padding: 40px;

    color: #ffffff;
    width: 80%;
    border-radius: 20px;
    background-color: #5cdcf1;


}

.formHeader {
    font-family: "Segoe UI", sans-serif;
    color: #ffffff;
    position: absolute;
    top: 250px;
    z-index: 10;
    left: 7%;
    font-weight: bolder;
    font-size: 40px;
    opacity: 0.9;
}

.input {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.select {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: transform 300ms ease-out;
    color: #868484;
    width: 95%;
}

.enterText {
    font-family: "Segoe UI", sans-serif;
    color: #000000;
    opacity: 80%;
    left: 35%;
    right: 35%;
    font-size: 20px;
    align-self: center;
}

.button {
    border: none;
    background: #797373;
    font-weight: bold;
    color: #ffffff;
    /*width: 100%;*/
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}


.button:hover {
    transform: scale(1.03);
    background-color: #000000;
    transition: transform 300ms ease-out;
}

.img {
    width: 6%;
    height: auto;
}
