.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.backgroundImage {
    height: auto;
    width: auto;
    z-index: 1;
}
.searchElement {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: blueviolet;
    background-color: #eaeaea;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin: 10px;
}


.formHeader {
    color: #e7e7e7;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
}

.input {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.select {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: transform 300ms ease-out;
    color: #868484;
    width: 95%;
}

.enterText {
    font-family: "Segoe UI", sans-serif;
    color: #000000;
    opacity: 80%;
    left: 35%;
    right: 35%;
    font-size: 20px;
    align-self: center;
}

.button {
    border: none;
    background: #797373;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}


.button:hover {
    transform: scale(1.03);
    background-color: #000000;
    transition: transform 300ms ease-out;
}

.img {
    width: 6%;
    height: auto;
}
