.container {
    display: flex;
    flex-direction: column;
}

.signUpBackground {
   margin: 0px;
}

.formBase {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.formSet {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: -10%;
    padding: 60px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    border-style: none;
    z-index: 10;
    filter: blur(2x);
    opacity: 0.9;
}

.select {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #525050;
    transition: transform 300ms ease-out;
    color: #868484;
}

.formHeader {
    color: #868484;
    font-weight: bolder;
    font-size: xx-large;
}

.logInField {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #525050;
    transition: transform 300ms ease-out;
}

.input{
    padding: 10px;
}

.logInField:hover {
    transform: scale(1.05);
}

/*.createItemField {*/
/*    margin-top: 15px;*/
/*    margin-bottom: 15px;*/
/*    width: 400px;*/
/*}*/

.radio {
    color: #868484;
}

.contentUpload {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50px



}

.createInput {
    border: none;
    border-bottom: 1px solid #525050;
}



.confirmButton {
    margin-top: 40px;
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.confirmButton:hover {
    margin-top: 40px;
    background: black;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    transition: ease-in .7s;
}



#radioSelector {
    font-size: smaller;
    font-family: "Segoe UI Semilight", sans-serif;
    color: #868484;

}