/*.enterBackground {*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-image: url("./../assets/desktop/Enter Screen.png");*/
/*    background-repeat: no-repeat;*/
/*}*/
.entranceScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.enterText {
    font-family: "Segoe UI", sans-serif;
    color: #dedbdb;
    opacity: 40%;
    top: 900px;
    left: 1400px ;
    position: absolute;
    font-size: 60px;
}

.jordan {
    background-color: black;
}

.enterBanner {
    position: absolute;
    top: 750px;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: black;
    font-weight: bolder;
    font-family: "Segoe UI", sans-serif;
    font-size: 22px;
    height: 53px;
    left: 1295px;

    text-align-all: center;

    width: 643px;
    padding: 2px;
    color: #ffffff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.enterButtonContainer {
    display: flex;
    justify-content: space-around;
    align-content: center;


}

.enterButtonLink {
    background-color: black;
    display: flex;
    align-content: space-around;
    justify-content: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 17px;
    height: 20px;
    padding: 3px;
    width: 300px;
    border-radius: 20px;

    color: #ffffff;


}