/*.enterBackground {*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-image: url("./../assets/desktop/Enter Screen.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

.entranceScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.entrancePhoto {
    background: no-repeat center center fixed;
}

.enterText {
    font-family: "Segoe UI", sans-serif;
    color: #dedbdb;
    opacity: 40%;
    left: 15%;
    right: 15%;
    position: absolute;
    font-size: 60px;
}

.jordan {
    background-color: black;
}

.enterBanner {
    position: absolute;
    top: 642px;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: black;
    font-weight: bolder;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    text-align-all: center;
    Opacity: 0.7;
    padding: 15px;
    color: #ffffff;


}

.enterButtonContainer {
    position: absolute;
    width: 100%;
    font-weight: bolder;
    padding: 10px;
    top: 700px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-content: center;
    background-color: #ffffff;
    opacity: 0.8;



}

.enterButtonLink {
    background-color: black;
    display: flex;
    align-content: space-around;
    justify-content: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 17px;
    height: 20px;
    padding: 3px;
    width: 300px;
    border-radius: 20px;
    color: #ffffff;


}