/*.enterBackground {*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-image: url("./../assets/desktop/Enter Screen.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.entranceScreenContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.entrancePhoto {
    height: auto;
    width: auto;
    z-index: 1;
    border-radius: 10px;
}

.enterText {
    font-family: "Segoe UI", sans-serif;
    color: #000000;
    top: 100px;
    align-self: center;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    z-index: 10;
}

.jordan {
    background-color: black;
}

.enterBanner {
    position: absolute;
    top: 65%;
    width: 100%;
    background-color: black;
    /*font-weight: bolder;*/
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
    padding: 15px;
    color: #ffffff;
    z-index: 10;
}

.enterButtonContainer {
    width: 100%;
    padding: 15px;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    /*font-weight: bold;*/
    top: 75%;
    /*!*opacity: 0.8;*!*/
    z-index: 10;
    /*padding: 10px;*/
    /*color: #ffffff;*/
}



.entranceLink {
    color: #ffffff;
    margin: 5px;
    padding: 10px;
    font-weight: bolder;
    border-radius: 20px;
    background-color: #000000;
    width: 275px;
    opacity: 0.70;
}

.entranceLinkContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    align-self: center;
    alignment: center;

}