.container {
    display: flex;
    flex-direction: column;
}

.background {
    margin: 0px;
}

.header {
    color: #000000;
    font-weight: bolder;
    font-size: x-large;

}

.listItem {
    list-style: none;
    font-size: medium;
    margin: 10px;
}

.orderOutline {
    position: absolute;
    /*font-weight: bold;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 100px;
    margin-left: 10%;
    margin-right: -10%;
    padding: 30px;
    width: 80%;
    background-color: #fcfcfc;
    /*height: 600px;*/
    border-radius: 20px;
    border-style: none;
    z-index: 10;
    /*background-color: white;*/
    filter: blur(2x);
    opacity: 0.93;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,20);
}

.orderCard {
    border-radius: 10px;
    background-color: #d9d9d9;
    padding: 20px;
    margin-top: 15px;
    /*box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);*/
}

.orderedItemCard {
    border-radius: 20px;
    background-color: #1d1d1d;
    padding: 10px;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    color: white;
}