.formField {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 50px;
    margin-left: 10px;
    padding: 50px;
    width: 400px;
    height: 650px;
    position: relative;
    background: white;
    border-radius: 10px;
    border: none;
    /*border-style: dotted ;*/
}

.formHeader {
    color: #868484;
    font-weight: bolder;
    font-size: xx-large;
}

.logInField {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 400px;
}

.createItemField {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 400px;
}

.createInput {
    border: none;
    border-bottom: 1px solid #525050;
}



#confirmButton {
    margin-top: 40px;
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

#confirmButton:hover {
    margin-top: 40px;
    background: black;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    transition: ease-in .7s;
}

#signUpError {
    color: #f16767;
    font-size: smaller;
    font-family: "Segoe UI Semilight", sans-serif;
}

#radioSelector {
    font-size: smaller;
    font-family: "Segoe UI Semilight", sans-serif;
    color: #868484;

}