.container {
    display: flex;
    flex-direction: column;

}

.backgroundImage {
    top: 0;
    left: 0;
    /*z-index: 2;*/
    /*background: no-repeat center;*/
    /*width: 110%;*/
    height: auto;
    width: auto;
    /*position: center;*/
}

.signUpFormBase {
    /*top:80px;*/
    position: fixed;
    /*margin-left: 2%;*/
    z-index: 10;
    /*background: red;*/
    width: 100%;


}
.formHeader {
    color: #868484;
    font-weight: bolder;
    font-size: xx-large;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: -10%;
    padding: 80px;
    width: 80%;
    background-color: #ffffff;
    /*height: 600px;*/
    border-radius: 10px;
    border-style: none;
    z-index: 10;
    /*background-color: white;*/
    filter: blur(2x);
    opacity: 0.9;
}

.signUpField {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    transition: transform 300ms ease-out;
}
.radio {
    color: #868484;
}

.input {
    border: none;
    border-bottom: 1px solid #525050;

}
.signUpField:hover {
    transform: scale(1.05);
}


#confirmButton {
    margin-top: 40px;
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

#confirmButton:hover {
    margin-top: 40px;
    background: black;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    transition: ease-in .7s;
}

#signUpError {
    color: #f16767;
    font-size: smaller;
    font-family: "Segoe UI Semilight", sans-serif;
}
